html, body{
    margin: 0;
    padding: 0;
    font-family: "cursive";
}
.navbar-container{
    display: grid;
    grid-gap: 3px;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    top: 0;
    grid-template-columns: repeat(5, 1fr);
}

.logo{
    display: grid;
    justify-content: center;
    margin: 0;
    padding: 0;
    grid-column: 1 / span 3;
}

.navbar-pages{
    display: grid;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar-ul{
    list-style-type: none;
    padding: 5px;
    margin: 10px;
    grid-column-start: 2;
    grid-column-end: 5;

}

.navbar-ul a{
    text-decoration: none;
}

.navbar-li{
    display: inline;
    padding: 5px;
    font-size: 20px;
}

/* FOOTER */
.footer-container{
    background-color: #a19b9b;
    display: grid;
    grid-gap: 3px;
    justify-content: flex-end;
    margin: 0;
    position: static;
    bottom: 0;
    width: 100%;
    align-items: end;
    grid-template-columns: repeat(5, 1fr);
}

.footer-social{
    grid-column: 5;
}

.social-ul{
    list-style-type: none;
    padding: 5px;
    margin: 10px;
    justify-self: end; 
}

.social-li{
    color: white;
    display: inline;
    padding: 5px;
    font-size: 20px;
}

.footer-li:hover a{
    color: whitesmoke;
    font-weight: bold;
}

.footer-copyright{
    grid-column: 1;
    font-size: 14px;
    color: white;
    padding: 5px;
    justify-self: start;
}