@font-face{
  font-family: "DancingScript";
  src: url("fonts/DancingScript.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.html, body{
  margin: 0;
  padding: 0;
  background-color: #FAF9F6;
}

.app__wrapper{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  min-height: 100vh;
}

@media (max-width: 480px){
  .app__wrapper{
    padding: 0;
    margin: 0;
    display: inline-block;
}
}