.app__wrapper{
    min-height: fit-content;
}
.contact{
    margin: 0;
}

.title {
    display: inline-block;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-family: "DancingScript";
    font-size: 68px;
    color: #3e7c17;
    transition: 0.5s;
  }

.content{
    margin: 25px;
    padding: 50px;
    color: #809a6f;
    font-size: 48px;
    text-align: center;
    height: 40vh;
}