.app__wrapper {
  min-height: fit-content;
}

.contact {
  margin: 3rem;
  padding: 5rem;
  padding-left: 20rem;
  padding-right: 20rem;
}

.contact-title {
  display: inline-block;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-family: "DancingScript";
  font-size: 6rem;
  color: #4C4E52;
  transition: 0.5s;
  margin-bottom: .2rem;
}

.content {
  margin: 1rem;
  padding: 4rem;
  color: #6B695E;
  font-size: 3rem;
  text-align: center;
  height: 40vh;

  & a {
    text-decoration: none;
    list-style-type: none;
    color: #6B695E;
    transition: 0.5s;
    padding: 0.3rem;
    border-radius: 5px;

    &:hover{
        background-color: #3e7c17;
        color: white;
    }
  }
}

@media(max-width: 480px){
    .content{
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 95vw;
        word-break: break-word;

        & p{
            margin: 0;
            padding: 0;
            width: 95vw;
        }
        & a{
            margin: 0;
            padding: 0;
            width: 95vw;
            font-size: 2.5rem;
        }
    }
    .contact{
        margin: 0;
        padding: 0;
        width: 95vw;
    }
    .contact-title{
        margin: 0;
        padding: 0;
        width: 95vw;
    }
}