.footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    bottom: 0;
    text-align: center;
    justify-items: center;
    align-items: center;
    color: #3E7C17;
    margin-top: 20px;
    padding: 0;
    height: 5vh;
}
