.footer{
    display: inline-block;
    text-align: center;
    justify-items: center;
    align-items: stretch;
    color: #3E7C17;
    margin: 0;
    padding: 0;
    height: 2.5vh;
    width: 100%;
}

.footer__copyright{
    justify-content: flex-start;
}

.footer__social{
    justify-content: flex-end;
}