.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  justify-content: center;
  align-content: center;

  & img {
    height: 30vh;
    width: auto;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 1px rgba(95, 116, 100, 1);
  }
}

.title {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-family: "DancingScript";
  font-size: 68px;
  color: #3e7c17;
  transition: 0.5s;
}

.header__ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 36px;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.header__li {
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #809a6f;
  color: #809a6f;
  transition: 0.5s;
  padding: 5px;
  
  &:hover{
    color: #eef2e6;
    background-color: #3e7c17;
    border-radius: 10px;
  }
}
