.home {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #4C4E52;
  height: 72vh;
}

.home__header {
  font-family: "DancingScript";
  font-size: 6rem;
}

.home__subheader {
  font-size: 3rem;
  margin-bottom: 1.3rem;
  color: #6B695E;
}

@media (max-width: 480px){
    .content{
        display: inline-block;
    }
    .home__header{
        display: none;
    }
    .home__subheader{
        font-family: "DancingScript";
        font-size: 6rem;
    }
    .home{
        display: inline-block;
        text-align: center;
        justify-content: center;
    }
   
}