.home {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #3e7c17;
  height: 72vh;
}

.home__header {
  font-family: "DancingScript";
  font-size: 68px;
}

.home__subheader {
  font-size: 36px;
  margin-bottom: 20px;
}
