.home{
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #42855B;
}

.carousel__wrapper{
    // height: 60vh;
}
.carousel__image{
    max-width:100%;
    height:auto;
}