.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #3E7C17;
  height: 20vh;
}

.logo {
  height: 25vh;
  margin: 0 auto;
  width: fit-content;
}

.links__wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.links {
  display: flex; 
  text-decoration: none;
  list-style-type: none;
  gap: 0.6rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

.links-item {
  transition: 0.5s;
  padding: 0.3rem;

  &:hover {
    border-radius: 0.13rem;
    color: #eef2e6;
    background-color: #367e18;
  }
}

@media (max-width: 480px) {
    .navbar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .logo{
        width: 90vw;
        height: auto;
        margin-left: 5%;
    }
    .links{
        display: none;
    }
    .social__ul{
        display: none;
    }
}