.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #4C4E52;
  height: 20vh;
}

.logo {
  height: 25vh;
  margin: 0 auto;
  width: fit-content;
}

.links__wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.links {
  display: flex; 
  text-decoration: none;
  list-style-type: none;
  gap: 0.6rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  
  
}

.links-item {
  transition: 0.5s;
  padding: 0.3rem;
  color: #4C4E52;

  &:hover {
    border-radius: 0.13rem;
    color: #eef2e6;
    background-color: #367e18;
  }
}

@media (max-width: 480px) {
    .body{
        margin: 0;
        padding: 0;
    }
    .navbar {
        display: inline-block;
        height: 85vh;
    }
    .logo{
        width: 100vw;
        height: auto;
        // margin-top: 10rem;
    }
    .links__wrapper{
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    .links{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .social__ul{
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }
}