.content{
    height: fit-content;
    margin: 0;
    padding: 0;
}

.pricing {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  height: 70vh;

}

.pricing__header {
  font-family: "DancingScript";
  font-size: 6rem;
  color: black;
}

.pricing__subheaders{
    font-size: 3rem;
    padding: 0.3rem;
    border-bottom: 1px solid black;
    align-content: center;
    width: fit-content;
    color: black;
}
#balloon-garlands{
    font-size: 3rem;
    
}
#circle-arch-options{
    font-size: 3rem;
}

.pricing__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 2rem;
    padding: 3rem;
    gap: 0.6rem;
    text-align: center;
}

.pricing__rentals{
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 0.6rem;
    background-color: rgba($color: #005d0f, $alpha: 0.25);
}

.pricing__rentals-ul{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    width: 90%;
}
.pricing__rentals-li-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px dotted black;
    padding: 0.6rem;
}

.pricing__rentals-li-title{
    text-align: start;
}

.pricing__rentals-li-price{
    text-align: end;
}

.view-examples{
    position: relative;
    bottom: 0;
    margin: 0;
    margin-bottom: 0.6rem;
    padding: 0.3rem;
    background-color: rgba(214, 214, 224, 0.75);
    border: 1px solid #B8B398;
    border-radius: 0.3rem;
    font-size: 2rem;
    color: black;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 1);
    transition: 0.5s;
    &:hover{
        color: white;
        background-color: #3e7c17;
        border: 1px solid #3e7c17;
        scale: 1.02;
        box-shadow: 1px 1px 15px 5px rgba(95, 116, 100, 1);
    }
}

@media(max-width: 480px){
    .content{
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .pricing{
        margin: 0;
        padding: 0;
    }
    .pricing__wrapper{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .pricing__rentals-ul{
        margin: 0;
        padding: 0;
    }
    .pricing__rentals-li-title{
        font-size: 1.5rem;
    }
    .view-examples{
        margin-top: 1rem;
    }
}