.content{
    height: fit-content;
    margin: 0;
    padding: 0;
}

.pricing {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #809A6F;
  height: 70vh;

}

.pricing__header {
  font-family: "DancingScript";
  font-size: 68px;
  color: #3e7c17;
}

.pricing__subheaders{
    font-size: 48px;
    padding: 2px;
    border-bottom: 1px solid #3e7c17;
    align-content: center;
    width: fit-content;
    color: #3e7c17;
}
#balloon-garlands{
    font-size: 40px;
    
}
#circle-arch-options{
    font-size: 40px;
}

.pricing__wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 36px;
    padding: 50px;
    gap: 10px;
    text-align: center;
}

.pricing__rentals{
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 5px;
    display: block;
    text-align: center;
    
    
}

.pricing__rentals-ul{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    
    
}
.pricing__rentals-li-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px dotted #3e7c17;
    padding: 5px;
}

.pricing__rentals-li-title{
    text-align: start;
}

.pricing__rentals-li-price{
    text-align: end;
}

.view-examples{
    margin: 0;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #809A6F;
    border: 1px solid #809A6F;
    border-radius: 5px;
    font-size: 36px;
    color: #eef2e6;
    box-shadow: 5px 5px 5px 1px rgba(95, 116, 100, 1);
    transition: 0.5s;
    &:hover{
        background-color: #3e7c17;
        scale: 1.02;
        box-shadow: 1px 1px 15px 5px rgba(95, 116, 100, 1);
    }
}