.social__ul {
    display: flex; 
    text-decoration: none;
    list-style-type: none;
    gap: 0.6rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0;
  &:hover {
    color: #eef2e6;
  }
}

.social__li {
  padding: 0.13rem;
  transition: 0.5s;

  &:hover {
    border-radius: 0.13rem;
    color: #eef2e6;
    background-color: #367e18;
  }
  & a {
    text-decoration: none;
    color: #3e7c17;

    &:hover {
      color: #eef2e6;
    }
  }
}
