.social__ul {
    display: flex; 
    text-decoration: none;
    list-style-type: none;
    gap: 0.6rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0;
  &:hover {
    color: #eef2e6;
  }
}

.social__li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  transition: 0.5s;

  &:hover {
    border-radius: 0.26rem;
    color: #eef2e6;
    background-color: #367e18;
    scale: 1.2;
  }
  & a {
    text-decoration: none;
    color: #4C4E52;
    font-size: 3rem;

    &:hover {
      color: #eef2e6;
    }
  }
}
